body{
    background-color: rgb(48, 44, 44);
    color: white;
    text-align: center;

}
#container{
    height: 90vh;
	width: 100%;
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    
}
body.light-mode{
    background-color: rgb(209, 202, 202);
}

button{
    background-color: gray;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    border-style: none;
}

button.light-mode{
    color: rgb(231, 228, 228);
    background-color: rgb(41, 40, 40);
}

h1.light-mode{
    color: black;
}

footer{
    background-color: rgb(172, 171, 171);
    position: absolute;
    bottom: 0;
    width: 100%;
    color: black;
}

footer.light-mode{
    background-color: rgb(41, 39, 39);
    color: white;
}
